/*Configuracao geral da pagina*/
html, body{
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}
body{
    margin: 0; padding: 0;
    background-color: black; color: white;
    background: transparent linear-gradient(170deg, #01af84 45%, rgb(0, 0, 0) 100%) 0% 0% no-repeat padding-box;
}

/*Céu estrelado*/
.sky {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    z-index: -1;
}
.star {
    position: absolute;
    width: 2px; height: 2px;
    background-color: white;                   /* Cor das estrelas                     */
    border-radius: 50%;
    pointer-events: none;                        /* Evita que as estrelas sejam clicáveis */
    animation: twinkling 3s infinite alternate;  /* Adiciona a animação                   */
}
@keyframes twinkling {
    0% { opacity: 1; }     /* Estrela totalmente visível    */
    100% { opacity: 0.6; } /* Estrela mais fraca (piscando) */
}

.message {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.message.reveal { opacity: 1; }

/*Barra de menu*/
header{ display: flex; }

#menu{
    display: flex;
    background: transparent linear-gradient(180deg, #9201af9c 0%, transparent 100%) 0% 0% no-repeat padding-box;
    margin: 0%; padding: 0%;
    width: 100%;
    align-items: center; justify-content: center; text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 140%;
    cursor: pointer;
}

#menu li{
    display: flex;
    margin: 2%; padding: 1%;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#menu li:hover {
    background-color: purple;
    border-radius: 15px;
}
