/*Configuracao geral da pagina*/
html, body{
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    background: transparent linear-gradient(170deg, black 80%, darkred 100%) 0% 0% no-repeat padding-box;
}

::selection{
  background-color: white; color: black;
}
body{
    background-color: black; color: white;
    font-family: monospace;
}

/*Barra de menu*/
header{ display: flex; }

#logo1 { border-radius: 50px; margin-left: 10%; margin-top: 10%;}
#name{ margin-left: 2%;}
#menu{
    display: flex;
    background: transparent linear-gradient(180deg, darkred 0%, transparent 100%) 0% 0% no-repeat padding-box;
    margin: 0%; padding: 0%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 140%;
    cursor: pointer;
}

#menu li{
    display: flex;
    margin: 2%; padding: 1%;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#menu li:hover {
    background-color: purple;
    border-radius: 15px;
}

#block1{
  background: transparent linear-gradient(170deg, red 0%, transparent 70%) 0% 0% no-repeat padding-box;
  margin: 5%; padding: 2%; border-radius: 15px; color: white; font-family: inherit;
}

.bloco2 {
  text-align: center;
  border-radius: 5px;
  background: transparent linear-gradient(170deg, black 50%, red 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  height: 28px;
  width: 100px;
  display: inline; padding: 0.5%;
}

.bloco2 ul li{ list-style: none; cursor: pointer; }

#ptools:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
#liblib:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
#ardp1:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
#database:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
#rpg:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
#magic:hover{
  background: transparent linear-gradient(170deg, red 50%, black 100%) 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.1s;
  border: solid black; cursor: pointer; 
}
.lista_conta{ display: inline; cursor: pointer;}
.conta{display: inline; list-style: none;}